# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore

# Misc
.DS_Store
